src/nets/.vscode/
src/nets/__pycache__/
notebooks/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints
__experimental_notebooks__
__experimental_notebooks__/
local_notebooks
*.output
local_notebooks/
results
results/
src/.vscode/
.vscode*
scripts/brain2
scripts/brain2/
.egg-info*
src/nets.egg-info/
.ipynb_checkpoints*
src/torchpinns/__pycache__/
.pth*
data
data/
data/mri/
data/test/
src/torchpinns.egg-info/
__pycache__*
local
local/
*.err
*.out
torch_sampling/
torch_sampling
